#{extends 'main.html' /}
#{set title:'Home' /}

#{if flash.error}
	<p style="color:#c00">
		${flash.error}
	</p>
#{/if}

<form action="@{Application.helloWorld()}" method="GET">
    <input type="text" name="myName" />
    <input type="submit" value="Say hello!" />
</form>